/* =======================================================
*
* 2017/06/21
*	Kohimoto Edit
*
* ======================================================= */
@charset "UTF-8";
/* =======================================================
* reset
* ======================================================= */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
ul{
  list-style:none;
}
a {
    margin:0;
    padding:0;
}
a:focus, *:focus {
  outline:none;
}
input, select {
    vertical-align:middle;
}
/* =======================================================
* font
* ======================================================= */
/* =======================================================
* common
* ======================================================= */
body {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  font-family: 'Poppins',"Yu Gothic",YuGothic, sans-serif;
  font-weight: 700;
}
a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.arrow_d{
  text-align: right;
  font-family: 'Libre Baskerville', serif;
}
a.arrow {
  font-size: 0.875em;
}
.content{
  padding: 0 7.1428em 7.1428em;
  margin: 0 auto;
  max-width: 107.1428em;
}
h1{
  font-size: 1em;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  padding-bottom: 0.2em;
}
p.h2_cap{
  padding-bottom: 5.7142em;
}
h2.heading{
  font-family: 'Libre Baskerville', serif;
}
h3{
  font-size: 2.8571em;
  font-family: 'Libre Baskerville', serif;
}
h4{
  font-size: 5.375em;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
}
.line_s{
  display: block;
  width: 12px;
  padding-bottom: 2em;
  border-bottom: 1px solid #000;
  margin-bottom: 2em;
}
.line_l{
  display: block;
  width: 100%;
  padding-bottom: 3em;
  border-bottom: 2px solid #000;
  margin-bottom: 2em;
}
/*====================common ---- SP===================== */
@media (max-width: 1024px) {
  .content{
    padding: 0 4em 6em;
  }
  h4{
    font-size: 5em;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .content{
    padding: 0 2em 3em;
  }
  h2{
    font-size: 3em;
  }
  p.h2_cap{
    padding-bottom: 3.5em;
  }
  h3{
    font-size: 2.3em;
  }
  h4{
    font-size: 3.5em;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 12px;
  }
  h4{
    font-size: 2.2em;
  }
}



/* =======================================================
* header
* ======================================================= */
header{
  max-width: 107.1428em;
  width: 100%;
  margin: 0 auto;
}
header h1{
  padding: 2.2em 7.1428em 1em;
}
header p{
  padding: 0 7.1428em 2.2em;
  font-size: ;
}
header .g_fix{
  position: fixed;
  width: 100%;
  top: 2em;
  z-index: 10;
}
header .g_fix_w{
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 107.1428em;
}
header .cherry {
  position: absolute;
  left: 1em;
}
header .cherry a:hover,
header .cherry a:active {
  border: none
}
header .menu {
  position: absolute;
  right: 1.5em;
}
header .menu ul{
  overflow: hidden;
}
header .menu ul li{
  font-family: 'Libre Baskerville', serif;
  font-size: 0.75em;
  float: left;
}
header .side-menu{
  font-family: 'Libre Baskerville', serif;
  font-size: 0.75em;
  position: absolute;
  top: 100vh;
  width: 100%;
  z-index: 2;
}
header .side-menu a:hover{
  border: none;
  text-decoration: none;
}
header .copyright {
  bottom: 45vh;
  position: absolute;
  left: 1.5em;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin-top: 0;
  display: block;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  writing-mode: tb-rl\9;
  -webkit-writing-mode: tb-rl\9;
  white-space: nowrap;
  font-size: 0.75em;
}
/*for edge*/
@supports (-ms-ime-align:auto){
  header .copyright {
    writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
  }
}
@media all and (-ms-high-contrast: none) {
  header .copyright {
  transform: rotate(270deg);
  }
}
header .get {
  position: absolute;
  right: 1.5em;
  bottom: 45vh;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  margin-top: 0;
  display: block;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  writing-mode: tb-rl\9;
  -webkit-writing-mode: tb-rl\9;
  white-space: nowrap;
  font-size: 0.75em;
}
/*for over IE10*/
@media all and (-ms-high-contrast: none) {
  header .get {
  transform: rotate(90deg);
  }
}
/*===================header ---- nav===================== */
header .head_menu{
  display: none;
}
nav#fh5co-main-nav{
  display: none;
}
/*====================header ---- SP===================== */
@media (max-width: 1500px) {
}
@media (max-width: 1024px) {
  header h1 {
      padding: 2.2em 4em 1em;
  }
  header p{
    padding: 0 4em 2.2em;
  }
}
@media (max-width: 768px) {
  header h1 {
      padding: 2em 2em 1em;
  }
  header h1 img{
    width: 78px;
  }
  header p{
    padding: 0 2em 2em;
  }
  header .menu {
    right: 0.5em;
    font-size: 0.8571em;
  }
  header .cherry {
    left: 0.5em;
  }
  header .cherry img{
    width: 1em;
  }
  header .copyright {
    left: 0.5em;
  }
  header .get {
    right: 0.5em;
  }

}
/*==================header ---- navSP================== */
@media (max-width: 414px) {
  header .menu{
    display: none;
  }
  header .head_menu{
    display: block;
    position: absolute;
    right: 1.5em;
    top: -0.5em;
  }
  nav#fh5co-main-nav{
    display: block;
  }
  #fh5co-main-nav {
    /*position: absolute;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1002;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    overflow-y: hidden;
  }
  #fh5co-page {
   position: relative;
   -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1);
   background: #fff;
  }
  .menu-show #fh5co-page {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  #fh5co-main-nav .fh5co-nav-toggle {
    position: absolute;
    top: 5px;
    right: 15px;
    /*padding: 20px;*/
    /*height: 50px;
    width: 50px;*/
    /*background: rgba(0, 0, 0, 0.7);*/
    line-height: 0;
    padding: 0 !important;
    visibility: hidden;
    opacity: 0;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;*/
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #fh5co-main-nav .fh5co-nav-toggle:hover {
    /*background: rgba(0, 0, 0, 0.7);*/
  }
  #fh5co-main-nav .fh5co-nav-toggle i {
    top: 22px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
    text-indent: 0;
  }
  .menu-show .head_menu .fh5co-nav-toggle i {
    display: none;
  }
  #fh5co-main-nav .fh5co-nav-toggle.show {
    visibility: visible;
    opacity: 1;
  }
  .menu-show #fh5co-main-nav {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  #fh5co-main-nav ul {
    text-align: center;
    /*padding: 50px 0 50px 0;*/
    margin: 0;
    position: relative;
    top: 25%;
  }
  #fh5co-main-nav ul li {
    /*padding: 0;*/
    padding: 0 0 10px 0;
    margin: 0;
    display: block;
    font-family: 'Libre Baskerville', serif;
  }
  #fh5co-main-nav ul li a {
    display: block;
    width: 100%;
    color: #000;
    font-size: 2em;
    padding: 10px 20px;
    border: none;
  }
  #fh5co-main-nav ul li a:hover, #fh5co-main-nav ul li a:active, #fh5co-main-nav ul li a:focus {
    color: rgba(0, 0, 0, 0.7);
    outline: none;
    text-decoration: none;
  }
  header .fh5co-navbar-brand {
    float: left;
    width: 100%;
    position: relative;
  }
  header .fh5co-navbar-brand h1 {
    width: 100%;
    float: left;
    display: block;
    font-family: "Karla", Arial, sans-serif;
  }
  header .fh5co-navbar-brand .fh5co-logo {
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 4px;
    border: 2px solid #000;
    padding: 5px 20px;
  }
  header .fh5co-navbar-brand .fh5co-logo:hover {
    text-decoration: none !important;
    color: #000 !important;
  }
  header .fh5co-navbar-brand .fh5co-logo:active, header .fh5co-navbar-brand .fh5co-logo:focus {
    outline: none;
    text-decoration: none;
  }

  .fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #fff;
  }
  .fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
    background: #fff;
  }
  .fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
  }
  .fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2.5px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    transition: all .2s ease-out;
  }
  .menu-show .fh5co-nav-toggle i {
    background: #fff;
    color: #fff;
  }
  .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 30px;
    height: 2.5px;
    background: #000;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .menu-show .fh5co-nav-toggle i::before, .menu-show .fh5co-nav-toggle i::after {
    background: #000;
  }
  .fh5co-nav-toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    transition: all .2s ease-out;
  }
  .fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
    background: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .fh5co-nav-toggle i::before {
    top: -7px;
  }

  .fh5co-nav-toggle i::after {
    bottom: -7px;
  }

  .fh5co-nav-toggle:hover i::before {
    top: -10px;
  }

  .fh5co-nav-toggle:hover i::after {
    bottom: -10px;
  }

  .fh5co-nav-toggle.active i {
    background: transparent;
  }

  .fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }

  .fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }

  .fh5co-nav-toggle {
    z-index: 1003;
    display: block;
    cursor: pointer;
  }
  #fh5co-hero .flexslider .flex-control-nav {
    position: absolute;
    bottom: 0;
    z-index: 1000;
  }
  #fh5co-hero .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  #fh5co-hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
  }
  #fh5co-hero .flexslider .flex-direction-nav {
    display: none;
  }


}
/* =======================================================
* footer
* ======================================================= */
footer .content {
  padding-bottom: 4em;
}
.foot_d {
  overflow: hidden;
}
.foot_d .link_m{
  float: left;
  vertical-align: bottom;
}
.foot_d .link_m ul{
  overflow: hidden;
  padding-bottom: 0.7142em;
}
.foot_d .link_m ul li{
  font-size: 0.75em;
  float: left;
  width: 22.8571em;
}
.foot_d .link_m ul li span{
  width: 3.5714em;
  display: inline-block;
}
.foot_d .link_s{
  float: right;
  vertical-align: bottom;
  padding-top: 2.2857em;
}
.foot_d .link_s ul{
  overflow: hidden;
}
.foot_d .link_s ul li{
  font-size: 0.75em;
  float: left;
}
.foot_d .link_s ul li:nth-child(1){
  padding-right: 1em;
  border-right: 1px solid #000;
  margin-right: 1em;
}
/*==================== footer ---- SP===================== */
@media (max-width: 768px) {
  footer h1 img{
    width: 90px;
  }
  .foot_d .link_m{
    float: none;
  }
  .foot_d .link_s{
    float: none;
    font-size: 0.8333em;
  }
}
/* =======================================================
* top
* ======================================================= */
.bg_top h3 {
  font-size: 1.5em;
}
.art_top .content {
  padding-bottom: 2em;
}
.art_g {
  padding-top: 3em;
}
.art_g h2{
  padding: 0.5em 0 1em;
}
ul.slick-dots {
  overflow: hidden;
  margin: 0 auto;
  padding: 4em 0 0;
  width: 10em;
}
ul.slick-dots li:nth-child(1) {
  margin: 0 0 1em 0;
}
ul.slick-dots li {
  width: 1.125em;
  height: 0.1875em;
  background-color: #666;
  float: left;
  margin: 0 0 1em 1em;
  cursor: pointer;
}
ul.slick-dots li.slick-active {
  background-color: #000;
}

.flexslider .slides {
  padding: 0 0 3em;
}
.list ul{
  overflow: hidden;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-box;
  display:-webkit-flexbox;
  display:-moz-flexbox;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:flex;
  -webkit-box-lines:multiple;
  -moz-box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.list_dtl {
  float: left;
  width: calc(50% - 3.5714em / 2);
  margin-left: 3.5714em;
  padding-bottom: 4.2857em;
  border-bottom: 1px solid #000;
  margin-bottom: 5.7142em;
}
.list_dtl:nth-child(odd) {
  margin-left: 0;
}
.img_h{
  position: relative;
  overflow: hidden;
  max-width: 44.6428em;
  min-width: 255px;
  max-height: 25em;
  width: 100%;
}
.img_h img{
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.img_h:hover img {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
figure.img_h figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.img_h:hover figcaption {
  background-color: #fff;
  opacity: 0.4;
  -webkit-transition: all 4s ease-out;
  transition: all 4s ease-out;
}
figure.img_h figcaption p {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: 45%;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  font-size: 1.125em;
  font-weight: 700;
  display: none;
}

figure.img_h:hover figcaption p,
figure.img_h.hover figcaption p {
  display: block;
}
.list_des{
  padding : 0 1.4285em;
  margin-top: -2.2em;
  position: relative;
  overflow: hidden;
}
.list_des p{
  float: right;
}
.bg_top{
  background-color: #fff;
}
.list + .bg_top{
  background-color: #f0f3f9;
}
.btm h2 {
    margin-top: -0.7em;
    padding-bottom: 0.3928em;
    position: absolute;
    font-size: 2.8em;
}
.btm{
  margin: 0em;
  padding-bottom: 2em;
}
.btm + footer{
  background-color: #f0f3f9;
}
/*==================== top ---- SP ===================== */
@media (max-width: 768px) {
  .bg_top h3 {
    font-size: 1.3em;
  }
  .art_g {
    padding-top: 2.5em;
  }
  .list .content{
    padding: 0 2em 6em;
  }
  .flex-control-nav {
      bottom: 0;
  }
  .list_dtl {
      width: 100%;
      margin-left: 0;
      margin-bottom: 3.5em;
  }
  .img_h {
      max-height: 100%;
      max-width: 100%;
  }
  .list_des {
      margin-top: -1.8em;
  }
  .btm {
      padding-bottom: 10em;
  }
  .btm h2 {
      font-size: 2.5em;
  }
}
@media (max-width: 375px) {
  .art_g {
    padding-top: 2em;
  }
  .btm {
      padding-bottom: 8em;
  }
  .btm h2 {
      font-size: 2em;
  }
  figure.img_h figcaption p {
      font-size: 1em;
  }
}
/* =======================================================
* work_detail
* ======================================================= */
.works_d {
  width: 100%;
  height: 100%;
  max-height: 52em;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 728px;
}
.works_d .works_head_text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
.works_d .arrow_d {
  font-size: 0.8751em;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
.works_d p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
.works_d > img{
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.devise_title {
  padding: 6em 0 4em;
}
.devise_title h4 {
  text-align: center;
}
.works_d_f .works_head_text p{
  word-break: break-all;
  line-height: 2;
}
.devise_detail {
  height: auto;
  text-align: center;
  position: relative;
  padding-bottom: 4em;
}
.device_pc svg {
  z-index: 2;
  width: 1000px;
  position: relative;
}
.device_pc .video {
  position: absolute;
  top: 5%;
  left: 4.4%;
  width: 91.2%;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-color-index:0)
{
  .device_pc .video {(;
    position: absolute;
    top: 6.6%;
    left: 4.4%;
    width: 91.2%;
  );}
}
.device_pc .video video {
  width: 915px;
}
.device_sp svg {
  z-index: 2;
  width: 299.5px;
  position: relative;
}
.device_sp .video {
  position: absolute;
  top: 10.7%;
  left: 6.47%;
  width: 87%;
  z-index: 1;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-color-index:0)
{
  .device_sp .video {(;
    position: absolute;
    top: 20.4%;
    left: 6.4%;
    width: 87%;
    z-index: 1;
  );}
}
.device_sp .video video {
  width: 261.375px;
}
.works_cap {
  text-align: center
}
.works_cap .pc_cap{
  padding-bottom: 6em;
}
.works_cap .pc_cap img{
  max-width: 900px;
  width: 100%;
}
.works_f {
  overflow: hidden;
  text-align: left;
}
.works_f .link_m{
  float: left;
  vertical-align: bottom;
}
.works_f .link_m ul{
  overflow: hidden;
  padding-bottom: 0.7142em;
}
.works_f .link_m ul li{
  font-size: 0.8571em;
}
.works_f .link_m ul li span{
  width: 6em;
  display: inline-block;
}
.works_f .color{
  float: right;
  vertical-align: bottom;
}
.works_f .color ul{
  overflow: hidden;
}
.works_f .color ul li{
  font-size: 0.8571em;
  font-family: 'Libre Baskerville', serif;
  float: left;
}
.works_f .color ul li:nth-child(1){
  padding-right: 1em;
  margin-right: 1em;
}
.works_c {
  padding: 4em;
}
.works_c .works_c_d{
  overflow: hidden;
  padding-bottom: 2em;
}
.works_c .works_c_d .works_c_dd{
  font-family: 'Libre Baskerville', serif;
  width: 15%;
  float: left;
}
.works_c .works_c_d .works_c_dt{
  float: left;
  width: 85%;
}
.bg_d_n {
  z-index: 5;
}
.bg_d_n .content{
  padding: 0 7.1428em;
}
.works_d_f{
  position: relative;
}
.works_d_f a {
  text-align: center;
}
.works_d_f .arrow_d{
  padding-bottom: 2em;
  text-align: center;
}
.works_d_f .works_foot_img img{
  opacity: 0;
}
.works_d_f .works_foot_img{
  background-size: cover;
  background-position: center center;
  height: 26.4285em;
  width: 100%;
  text-align: center;
  opacity: 0;
  overflow: hidden;
}
.works_d_f .works_foot_img:hover {
}
.works_d_f .works_foot_text {
  position: absolute;
  width: 100%;
  padding: 0 1em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
/*==================== works_device detail ---- SP ===================== */
@media (max-width: 1204px) {
  .device_pc svg {
    width: 760px;
  }
  .device_pc .video video {
    width: 695.4px;
  }
}
@media (max-width: 875px) {
  .device_pc svg {
    width: 560px;
  }
  .device_pc .video video {
    width: 512px;
  }
  .device_sp svg {
    width: 240px;
  }
  .device_sp .video video {
    width: 209.1px;
  }
}
@media (max-width: 600px) {
  .device_pc svg {
    width: 400px;
  }
  .device_pc .video video {
    width: 366px;
  }
  .device_sp svg {
    width: 200px;
  }
  .device_sp .video video {
    width: 174.5px;
  }
}
@media (max-width: 440px) {
  .device_pc svg {
    width: 240px;
  }
  .device_pc .video video {
    width: 219.6px;
  }
  .device_sp svg {
    width: 140px;
  }
  .device_sp .video video {
    width: 121.975px;
  }
  .device_pc .video {
    top: 4%;
  }
  .device_sp .video {
    top: 9.8%;
    left: 6.4%;
  }
}
/*==================== works detail ---- SP ===================== */

@media (max-width: 1024px) {
  .works_d {
    height: 573px;
  }
  .bg_d_n .content {
      padding: 0;
  }
}
@media (max-width: 768px) {
  .works_d{
    height: 380px;
  }
  .works_d .works_head_text h2{
    font-size: 1.75em;
  }
  .devise_title {
    padding: 4em 0 3em;
  }
  .devise_title h2 {
    font-size: 3em;
  }
  .works_f .link_m {
    float: none;
  }
  .works_f .color {
    float: none;
    font-size: 0.8333em;
  }
  .works_c {
    padding: 2em;
  }
  .works_c .works_c_d{
    overflow: visible;
  }
  .works_c .works_c_d .works_c_dd {
    float: none;
    width: 100%;
    padding: 0 0 0.5em;
  }
  .works_c .works_c_d .works_c_dt {
    float: none;
    width: 100%;
  }
  .works_d_f .works_head_text h2{
    font-size: 3em;
    padding-bottom: 0.5em;
  }
}
@media (max-width: 375px) {
  .works_d {
    height: 210px;
  }
  .works_d_f .works_head_text h2{
    font-size: 2.5em;
  }
}
/*==================== kirsche_detail ===================== */
.kirsche .works_d {
  background-image: url('../images/works/2017/kirsche/main.jpg');
}
.kirsche .works_d:hover {
}
.kirsche .bg_d {
  background-color: #fff2f3;
}
.kirsche .devise_title h4 {
  color: #1c18c4;
}
.kirsche .works_cap .pc_cap img{
  border: 1.5px solid #1c18c4;
}
.kirsche .works_cap .sp_cap img{
  border: 1px solid #1c18c4;
}
.kirsche .works_f {
  color: #1c18c4;
}
.kirsche .works_f a {
  color: #1c18c4;
}
.kirsche .works_f a:hover {
  border: none;
}
.kirsche .works_f .line_s{
  border-bottom: 1px solid #1c18c4;
}
.kirsche .works_f .color ul li:nth-child(1){
  border-right: 1px solid #1c18c4;
}
.kirsche .works_c {
  border: 2px solid #1c18c4;
  background-color: #fff;
}
.kirsche .works_c .works_c_d{
  color: #1c18c4;
}
.kirsche .bg_d_n {
  background-color: #f0f3f9;
}
.kirsche .works_d_f a {
  color: #000;
}
.kirsche .works_d_f .works_foot_img{
  background-image: url('/images/works/2017/risakoyamada/main_02.jpg');
  background-color: #f0f3f9;
}
/*==================== risakoyamada_detail ===================== */
.risakoyamada .works_d {
  background-image: url('/images/works/2017/risakoyamada/main_02.jpg');
}
.risakoyamada .bg_d {
  background-color: #effff2;
}
.risakoyamada .devise_title h4 {
  color: #f71137;
}
.risakoyamada .works_f {
  color: #f71137;
}
.risakoyamada .works_f a{
  color: #f71137;
}
.risakoyamada .works_f a:hover{
  border: none;
}
.risakoyamada .works_f .line_s{
  border-bottom: 1px solid #f71137;
}
.risakoyamada .works_f .color ul li:nth-child(1){
  border-right: 1px solid #f71137;
}
.risakoyamada .works_c {
  border: 2px solid #f71137;
  background-color: #fff;
}
.risakoyamada .works_c .works_c_d{
  color: #f71137;
}
.risakoyamada .bg_d_n {
  background-color: #f0f3f9;
}
.risakoyamada .works_d_f a {
  color: #000;
}
.risakoyamada .works_d_f .works_foot_img{
  background-image: url('../images/works/2017/llll/main.jpg');
  background-color: #f0f3f9;
}
/*==================== llll_detail ===================== */
.llll .works_d {
  background-image: url('../images/works/2017/llll/main.jpg');
}
.llll .bg_d {
  background-color: #FFFAE1;
}
.llll .devise_title h4 {
  color: #00c1a6;
}
.llll .works_f {
  color: #00c1a6;
}
.llll .works_f a{
  color: #00c1a6;
}
.llll .works_f a:hover{
  border: none;
}
.llll .works_f .line_s{
  border-bottom: 1px solid #00c1a6;
}
.llll .works_f .color ul li:nth-child(1){
  border-right: 1px solid #00c1a6;
}
.llll .works_c {
  border: 2px solid #00c1a6;
  background-color: #fff;
}
.llll .works_c .works_c_d{
  color: #00c1a6;
}
.llll .bg_d_n {
  background-color: #f0f3f9;
}
.llll .works_d_f a {
  color: #000;
}
.llll .works_d_f .works_foot_img{
  background-image: url('../images/works/2017/cocooilmask/main.jpg');
  background-color: #f0f3f9;
}
/*==================== cocooilmask_detail ===================== */
.cocooilmask .works_d {
  background-image: url('../images/works/2017/cocooilmask/main.jpg');
}
.cocooilmask .bg_d {
  background-color: #F0F3F9;
}
.cocooilmask .devise_title h4 {
  color: #1c18c4;
}
.cocooilmask .works_f {
  color: #1c18c4;
}
.cocooilmask .works_f a{
  color: #1c18c4;
}
.cocooilmask .works_f a:hover{
  border: none;
}
.cocooilmask .works_f .line_s{
  border-bottom: 1px solid #1c18c4;
}
.cocooilmask .works_f .color ul li:nth-child(1){
  border-right: 1px solid #1c18c4;
}
.cocooilmask .works_c {
  border: 2px solid #1c18c4;
  background-color: #fff;
}
.cocooilmask .works_c .works_c_d{
  color: #1c18c4;
}
.cocooilmask .bg_d_n {
  background-color: #fff2f3;
}
.cocooilmask .works_d_f a {
  color: #000;
}
.cocooilmask .works_d_f .works_foot_img{
  background-image: url('../images/works/2017/kirsche/main.jpg');
  background-color: #fff2f3;
}

/* =======================================================
* contact
* ======================================================= */
.bg-c {
  background: #f0f3f9;
}
#spectrumPlugin {
  color: #1c18c4;
}
#spectrumPlugin .content {
  margin: 2.000em auto;
}
#spectrumPlugin h3 {
  padding-bottom: 0.5em;
}

#spectrumPlugin h4:not(.heading) {
  position: relative;
  top: -0.6em;
  color: #1c18c4;
  padding-bottom: 0;
  font-size: 5em;
}
#spectrumPlugin h3.heading {
  font-family: 'Gentium Book Basic', serif;
}
#spectrumPlugin p.heading {
  font-family: 'Gentium Book Basic', serif;
}
#spectrumPlugin input {
  width: 100%;
  border: 1px solid #1c18c4;
  border-radius: 5px;
  -webkit-appearance: none;
}
#spectrumPlugin textarea {
  border: 1px solid #1c18c4;
  border-radius: 5px;
  width: 100%;
  max-width: 1485px;
  overflow-y: auto;
  height: 280px;
  font-size: 20px;
}
#spectrumPlugin .button {
  text-align: center;
  padding: 40px 0;
}
#spectrumPlugin button {
  cursor: pointer;
  color: #1c18c4;
  border: 2px solid #1c18c4;
  padding: 14px 25px;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  border-radius: 5px;
  background-color: transparent;
  margin: 0 10px;
}
#spectrumPlugin button:hover {
  background-color: rgba(255,255,255,0.3);
}
#spectrumPlugin  form p {
  margin-bottom: -10px;
}
#spectrumPlugin  h2.heading {
  color: #1c18c4;
}
.spectrumHeader {
  transition: background-color 4s ease;
}
#spectrumPlugin form input:focus,
#spectrumPlugin form textarea:focus {
  background-color: rgba(255,255,255,0.5);
  outline: 0;
  -webkit-appearance: none;
}
#spectrumPlugin form span.description {
  display: block;
  word-break: break-all;
  overflow-y: hidden;
  width: 100%;
  height: 270px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 5px;
  -webkit-appearance: none;
  font-size: 20px;
}
#spectrumPlugin form span.description:not(.conf_input) {
  border: 1px solid #1c18c4;
}
#spectrumPlugin a.arrow {
  color: #1c18c4;
}
.form-label{
  position: relative;
  top: 32px;
  left: 15px;
  font-size: 14px;
  display: block;
  z-index: 3;
}
.text-input {
  padding: 1.5em 0.5em 0.7em 0.5em;
  font-size: 30px;
  word-break: break-all;
}
textarea.text-input {
  -webkit-appearance: none;
  padding: 1.8em 0 0.7em 0.8em;
  font-size: 30px;
}
.conf_input.description {
  padding: 1.8em 0 0.7em 0.5em;
  font-size: 30px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #1c18c4;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
   background-color: #1c18c4;
}
span:not(.conf_input) .mCSB_draggerContainer {
  margin: 13px 0;
}
.mCSB_inside > .mCSB_container {
  margin-right: 0px;
}
@media (max-width: 416px) {
  #spectrumPlugin form textarea {
    height: 170px;
  }
}
/* =======================================================
* contact confirm
* ======================================================= */
#spectrumPlugin form .conf_input {
  background-color: rgba(255,255,255,0.5);
  outline: 0;
  border: 3px solid rgba(255,255,255,0.8);
  -webkit-appearance: none;
  display: block;
  border-radius: 5px;
}
@media (max-width: 416px) {
  #spectrumPlugin button {
    font-size: 1.5em;
    margin: 0 5px;
    padding: 10px;
    line-height: 1;
  }
  #spectrumPlugin form span.description {
    height: 170px;
  }
}
/* =======================================================
* contact error
* ======================================================= */
.error p {
  color: red;
  padding-bottom: 30px;
}
.error ul {
  border: 3px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.error li {
  padding: 10px 0 10px 10px;
}

/* =======================================================
* about
* ======================================================= */
#spectrumPlugin .about h4{
  color: #f71137;
}
#spectrumPlugin .about h2.heading {
    color: #f71137;
}
#spectrumPlugin .about {
    color: #f71137;
}
#spectrumPlugin .about .arrow_d a{
    color: #f71137;
}
#spectrumPlugin .about ul li {
  display: inline-block;
  padding-right: 2em;
}
#spectrumPlugin .about li.add:not(:nth-child(1)):before{
  padding: 0 8px 0 5px;
}
#spectrumPlugin section {
  padding-bottom: 3em;
}
#spectrumPlugin .about ul li:not(.add) {
  border: 2px solid;
  text-align: center;
  padding: 20px;
  background: #fff;
}
#spectrumPlugin .about ul li:not(.add):not(:first-child) {
  margin-left: -1em;
}
#spectrumPlugin .about ul li:not(.add) span {
  font-size: 80%;
}
@media (max-width: 856px) {
  #spectrumPlugin .about ul li.add{
    display: block;
    float: left;
    width: 50%;
    padding-bottom: 10px;
  }
  .about section br {
    clear: both;
  }
}
@media (max-width: 1111px) {
  #spectrumPlugin .about ul li:not(.add){
    display: block;
    width: 100%;
  }
  #spectrumPlugin .about ul li:not(.add):not(:first-child) {
    margin-left: 0;
    border-top: none;
  }
}
/* =======================================================
* member
* ======================================================= */
#spectrumPlugin .member h4{
  color: #00C1A6;
}
#spectrumPlugin .member h2.heading {
    color: #00C1A6;
}
#spectrumPlugin .member {
    color: #00C1A6;
}
#spectrumPlugin .member .arrow_d a{
    color: #00C1A6;
}
/* =======================================================
* gallery
* ======================================================= */
.gallery_f {
  overflow: hidden;
  padding: 0;
}
.gallery_f .link_m{
  float: left;
  vertical-align: bottom;
}
.gallery_f .link_m ul{
  overflow: hidden;
  padding-bottom: 0.7142em;
  padding-right: 2em;
}
.gallery_f .link_m ul li{
  font-size: 0.8571em;
}
.gallery_f .link_m ul li span{
  width: 6em;
  display: inline-block;
}
.gallery_f .color{
  float: right;
  vertical-align: bottom;
}
.gallery_f .color ul{
  overflow: hidden;
}
.gallery_f .color ul li{
  font-size: 0.8571em;
  font-family: 'Libre Baskerville', serif;
  float: left;
}
.gallery_f .color ul li{
  padding-left: 1em;
  border-left: 1px solid #000;
  margin-left: 1em;
}
.gallery_f .color ul li:nth-child(1){
  padding-left: 0;
  border-left: 0;
  margin-left: 0;
}
@media (max-width: 768px) {
  .gallery_f .link_m{
    float: none;
    vertical-align: baseline;
  }
  .gallery_f .color{
    float: none;
    vertical-align: baseline;
  }
}
/* =======================================================
* loading
* ======================================================= */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 1;
  margin 0 auto;
}
#loader {
  display: none;
  position: relative;
  top: 45%;
  z-index: 2;
  text-align: center;
}
