/* =======================================================
*
* 2017/06/21
*	Kohimoto Edit
*
* ======================================================= */
@charset "UTF-8";
/* =======================================================
* reset
* ======================================================= */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
ul{
  list-style:none;
}
a {
    margin:0;
    padding:0;
}
a:focus, *:focus {
  outline:none;
}
input, select {
    vertical-align:middle;
}
/* =======================================================
* font
* ======================================================= */
/* =======================================================
* common
* ======================================================= */
body {
  font-size: 14px;
  line-height: 1.4;
  color: #000;
  font-family: 'Poppins',"Yu Gothic",YuGothic, sans-serif;
  font-weight: 300;
}
a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
}
a:hover{
  padding-bottom: 1px;
  border-bottom: 1px #000 dotted;
}
.arrow_d{
  text-align: right;
  font-family: 'Libre Baskerville', serif;
}
a.arrow {
}
.content{
  padding: 0 7.1428em 7.1428em;
  margin: 0 auto;
  max-width: 107.1428em;
}
h1{
  font-size: 1em;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4em;
  padding-bottom: 0.2em;
}
p.h2_cap{
  padding-bottom: 5.7142em;
}
h2.heading{
  font-family: 'Libre Baskerville', serif;
}
h3{
  font-size: 2.8571em;
  font-family: 'Libre Baskerville', serif;
}
h4{
  font-size: 6.1428em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  white-space: nowrap;
}
.line_s{
  display: block;
  width: 12px;
  padding-bottom: 2em;
  border-bottom: 1px solid #000;
  margin-bottom: 2em;
}
/*====================common ---- SP===================== */
@media (max-width: 1024px) {
  .content{
    padding: 0 4em 6em;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .content{
    padding: 0 2em 3em;
  }
  h2{
    font-size: 3.5em;
  }
  h3{
    font-size: 2.5em;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 10px;
  }
}



/* =======================================================
* header
* ======================================================= */
header{
  max-width: 107.1428em;
  width: 100%;
  margin: 0 auto;
}
header h1{
  padding: 2.2em 7.1428em;
}
header .g_fix{
 /* max-width: 107.1428em;*/
  position: fixed;
  width: 100%;
  top: 2em;
  z-index: 10;
}
header .g_fix_w{
  position: relative;
/*  display: block;*/
  height: 100%;
  width: 100%;
  max-width: 107.1428em;
}
header .cherry {
  /*position: absolute;*/
  position: fixed;
  /*left: 0%;*/
}
header .cherry a:hover,
header .cherry a:active {
  border: none
}
header .menu {
  position: absolute;
  right: 0%;
}
header .menu ul{
  overflow: hidden;
}
header .menu ul li{
  font-family: 'Libre Baskerville', serif;
  float: left;
}
header .side-menu{
  position: absolute;
  top: 100vh;
  width: 100%;
  z-index: 2;
}
header .copyright {
  /*left: 0%;*/
  bottom: 40vh;
  position: absolute;
  left: 0;
  bottom: 40vh;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin-top: 0;
  display: block;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  white-space: nowrap;
}
header .get {
  /*right: 0%;*/
  position: absolute;
  right: 0;
  bottom: 40vh;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  margin-top: 0;
  display: block;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  white-space: nowrap;

}
/*====================header ---- SP===================== */
@media (max-width: 1024px) {
  header h1 {
      padding: 2.2em 4em;
  }
}
@media (max-width: 768px) {
  header h1 {
      padding: 2.2em 3em;
  }
  header h1 img{
    width: 70px;
  }
}
/* =======================================================
* footer
* ======================================================= */
.foot_d {
  overflow: hidden;
}
.foot_d .link_m{
  float: left;
  vertical-align: bottom;
}
.foot_d .link_m ul{
  overflow: hidden;
  padding-bottom: 0.7142em;
}
.foot_d .link_m ul li{
  font-size: 0.8571em;
  float: left;
  width: 22.8571em;
}
.foot_d .link_m ul li span{
  width: 3.5714em;
  display: inline-block;
}
.foot_d .link_s{
  float: right;
  vertical-align: bottom;
  padding-top: 2.2857em;
}
.foot_d .link_s ul{
  overflow: hidden;
}
.foot_d .link_s ul li{
  font-size: 0.8571em;
  font-family: 'Libre Baskerville', serif;
  float: left;
}
.foot_d .link_s ul li:nth-child(1){
  padding-right: 1em;
  border-right: 1px solid #000;
  margin-right: 1em;
}
/*==================== footer ---- SP===================== */
@media (max-width: 768px) {
  .foot_d .link_m{
    float: none;
  }
  .foot_d .link_s{
    float: none;
    font-size: 0.8333em;
  }
}
/* =======================================================
* top
* ======================================================= */
.art_g h2{
  padding: 0.5em 0 1em;
}
.flexslider .slides {
    padding: 0 0 3em;
}
.list ul{
  overflow: hidden;
}
.list_dtl {
  float: left;
  width: calc(50% - 3.5714em / 2);
  margin-left: 3.5714em;
  padding-bottom: 4.2857em;
  border-bottom: 1px solid #000;
  margin-bottom: 5.7142em;
}
.list_dtl:nth-child(odd) {
  margin-left: 0;
}
.img_h{
  position: relative;
  overflow: hidden;
  max-width: 44.6428em;
  min-width: 255px;
  max-height: 25em;
  width: 100%;
}
.img_h img{
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.img_h:hover img {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
figure.img_h figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.img_h:hover figcaption {
  background-color: #fff;
  opacity: 0.4;
  -webkit-transition: all 4s ease-out;
  transition: all 4s ease-out;
}
figure.img_h figcaption p {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
}
figure.img_h figcaption p {
  left: 32%;
  top: 45%;
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5714em;
}
figure.img_h:hover figcaption p,
figure.img_h.hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
figure.img_h:hover figcaption p,
figure.img_h.hover figcaption p {
  opacity: 1;
}
.list_des{
  padding : 0 1.4285em;
  margin-top: -2.2em;
  position: relative;
  overflow: hidden;
}
.list_des p{
  float: right;
}
.bg_top{
  background-color: #f0f3f9;
  margin-bottom: 5.7142em;
}
.btm h2 {
    margin-top: -0.7em;
    padding-bottom: 0.3928em;
    position: absolute;
}
.btm{
  margin: 0em;
  padding-bottom: 4em;
}
.btm + footer{
  background-color: #f0f3f9;
}
/*==================== top ---- SP ===================== */
@media (max-width: 768px) {
  .list .content{
    padding: 0 2em 6em;
  }
  .flex-control-nav {
      bottom: 0;
  }
  .list_dtl {
      width: 100%;
      margin-left: 0;
  }
  .img_h {
      max-height: 100%;
      max-width: 100%;
  }
  .list_des {
      margin-top: -1.8em;
  }
  .btm {
      padding-bottom: 14em;
  }
}
@media (max-width: 375px) {
  .btm {
      padding-bottom: 20em;
  }
}
/* =======================================================
* work_detail
* ======================================================= */
.works_d {
  width: 100%;
  height: 100%;
  max-height: 52em;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 728px;
}
.works_d .works_head_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
.works_d .arrow_d {
  font-size: 0.8751em;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
.works_d p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
.devise_title {
  padding: 6em 0 4em;
}
.devise_title h2 {
  text-align: center;
}
.devise_detail {
  height: auto;
  text-align: center;
  position: relative;
  padding-bottom: 4em;
}
.device_pc svg {
  z-index: 2;
  width: 1200px;
}
.device_pc .video {
  position: absolute;
  top: 5%;
  left: 4.4%;
  width: 91.2%;
}
.device_pc .video video {
  width: 1098px;
}
.device_sp svg {
  z-index: 2;
  width: 400px;
  position: relative;
}
.device_sp .video {
  position: absolute;
  top: 11.2%;
  left: 6.4%;
  width: 87%;
  z-index: 1;
}
.device_sp .video video {
  width: 348.5px;
}
.works_f {
  overflow: hidden;
}
.works_f .link_m{
  float: left;
  vertical-align: bottom;
}
.works_f .link_m ul{
  overflow: hidden;
  padding-bottom: 0.7142em;
}
.works_f .link_m ul li{
  font-size: 0.8571em;
}
.works_f .link_m ul li span{
  width: 6em;
  display: inline-block;
}
.works_f .color{
  float: right;
  vertical-align: bottom;
}
.works_f .color ul{
  overflow: hidden;
}
.works_f .color ul li{
  font-size: 0.8571em;
  font-family: 'Libre Baskerville', serif;
  float: left;
}
.works_f .color ul li:nth-child(1){
  padding-right: 1em;
  margin-right: 1em;
}
.works_c {
  padding: 4em;
}
.works_c .works_c_d{
  overflow: hidden;
  padding-bottom: 2em;
}
.works_c .works_c_d .works_c_dd{
  font-family: 'Libre Baskerville', serif;
  width: 15%;
  float: left;
}
.works_c .works_c_d .works_c_dt{
  float: left;
  width: 85%;
}
.bg_d_n {
  z-index: 5;
}
.bg_d_n .content{
  padding: 0 7.1428em;
}
.works_d_f{
  position: relative;
}
.works_d_f a {
  text-align: center;
}
.works_d_f .arrow_d{
  padding-bottom: 2em;
  text-align: center;
}
.works_d_f .works_foot_img{
  background-size: cover;
  background-position: center center;
  height: 26.4285em;
  width: 92.8571em;
  text-align: center;
  opacity: 0;
}
.works_d_f .works_foot_img:hover {
  opacity: 0.4;
}
.works_d_f .works_foot_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
}
/*==================== kirsche_detail ---- PAD SP===================== */
.kirsche .works_d {
  background-image: url('../images/works/2017/kirsche/main.jpg');
}
.kirsche .works_d:hover {
  background-image: none;
}
.kirsche .bg_d {
  background-color: #fff2f3;
}
.kirsche .devise_title h2 {
  color: #1c18c4;
}
.kirsche .works_f {
  color: #1c18c4;
}
.kirsche .works_f .line_s{
  border-bottom: 1px solid #1c18c4;
}
.kirsche .works_f .color ul li:nth-child(1){
  border-right: 1px solid #1c18c4;
}
.kirsche .works_c {
  border: 2px solid #1c18c4;
  background-color: #fff;
}
.kirsche .works_c .works_c_d{
  color: #1c18c4;
}
.kirsche .bg_d_n {
  background-color: #3d4c74;
}
.kirsche .works_d_f a {
  color: #fff;
}
.kirsche .works_d_f .works_foot_img{
  background-image: url('../images/works/2017/risakoyamada/main.jpg');
  background-color: #3d4c74;
}

/*==================== risakoyamada_detail ---- PAD SP===================== */
.risakoyamada .works_d {
  background-image: url('../images/works/2017/risakoyamada/main.jpg');
}
.risakoyamada .works_d:hover {
  background-image: none;
}
.risakoyamada .bg_d {
  background-color: #3d4c74;
}
.risakoyamada .devise_title h2 {
  color: #F51F72;
}
.risakoyamada .works_f {
  color: #F51F72;
}
.risakoyamada .works_f .line_s{
  border-bottom: 1px solid #F51F72;
}
.risakoyamada .works_f .color ul li:nth-child(1){
  border-right: 1px solid #F51F72;
}
.risakoyamada .works_c {
  border: 2px solid #F51F72;
  background-color: #fff;
}
.risakoyamada .works_c .works_c_d{
  color: #F51F72;
}
.risakoyamada .bg_d_n {
  background-color: #fdfad8;
}
.risakoyamada .works_d_f a {
  color: #000;
}
.risakoyamada .works_d_f .works_foot_img{
  background-image: url('../images/works/2017/llll/main.jpg');
  background-color: #fdfad8;
}
/*==================== llll_detail ---- PAD SP===================== */
.llll .works_d {
  background-image: url('../images/works/2017/llll/main.jpg');
}
.llll .works_d:hover {
  background-image: none;
}
.llll .bg_d {
  background-color: #fdfad8;
}
.llll .devise_title h2 {
  color: #7C682A;
}
.llll .works_f {
  color: #7C682A;
}
.llll .works_f .line_s{
  border-bottom: 1px solid #7C682A;
}
.llll .works_f .color ul li:nth-child(1){
  border-right: 1px solid #7C682A;
}
.llll .works_c {
  border: 2px solid #7C682A;
  background-color: #fff;
}
.llll .works_c .works_c_d{
  color: #7C682A;
}
.llll .bg_d_n {
  background-color: #f0f3f9;
}
.llll .works_d_f a {
  color: #000;
}
.llll .works_d_f .works_foot_img{
  background-image: url('../images/works/2017/cocooilmask/main.jpg');
  background-color: #f0f3f9;
}
/*==================== cocooilmask_detail ---- PAD SP===================== */
.cocooilmask .works_d {
  background-image: url('../images/works/2017/cocooilmask/main.jpg');
}
.cocooilmask .works_d:hover {
  background-image: none;
}
.cocooilmask .bg_d {
  background-color: #f0f3f9;
}
.cocooilmask .devise_title h2 {
  color: #3D837E;
}
.cocooilmask .works_f {
  color: #3D837E;
}
.cocooilmask .works_f .line_s{
  border-bottom: 1px solid #3D837E;
}
.cocooilmask .works_f .color ul li:nth-child(1){
  border-right: 1px solid #3D837E;
}
.cocooilmask .works_c {
  border: 2px solid #3D837E;
  background-color: #fff;
}
.cocooilmask .works_c .works_c_d{
  color: #3D837E;
}
.cocooilmask .bg_d_n {
  background-color: #fff2f3;
}
.cocooilmask .works_d_f a {
  color: #000;
}
.cocooilmask .works_d_f .works_foot_img{
  background-image: url('../images/works/2017/kirsche/main.jpg');
  background-color: #fff2f3;
}
/*====================work_detail ---- PAD SP===================== */
@media (max-width: 1024px) {
  .works_d {
    height: 573px;
  }
}
@media (max-width: 768px) {
  .works_d{
    height: 430px;
  }
}
@media (max-width: 375px) {
  .works_d {
    height: 210px;
  }
}
/* =======================================================
* contact
* ======================================================= */
.bg-c{
  background: #fff2f3;
}
#spectrumPlugin{
  color: #1c18c4;
}
#spectrumPlugin .content{
  /*max-width: 81.25em;*/
  margin: 2.000em auto;
 /* padding: 0 10px 80px 10px;*/
}
#spectrumPlugin h2:not(.heading){
  position: relative;
  top: -34px;
  color: #f71137;
  padding-bottom: 0;
}
#spectrumPlugin h3.heading{
  font-family: 'Gentium Book Basic', serif;
}
#spectrumPlugin p.heading{
  font-family: 'Gentium Book Basic', serif;
}
#spectrumPlugin input{
  width: 100%;
  border: 1px solid #1c18c4;
  border-radius: 5px;
  -webkit-appearance: none;
}
#spectrumPlugin textarea{
  width: 100%;
  overflow-y: hidden;
  height: 10.000em;
  border: none;
}
#spectrumPlugin .button{
  text-align: center;
  padding-top: 40px;
}
#spectrumPlugin button{
  cursor: pointer;
  color: #1c18c4;
  border: 2px solid #1c18c4;
  padding: 10px 25px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  background-color: transparent;
  margin: 0 10px;
}
#spectrumPlugin button:hover{
  background-color: rgba(255,255,255,0.3);
}
#spectrumPlugin  form p{
  margin-bottom: -10px;
}
#spectrumPlugin  h2.heading{
  color: #1c18c4;
}
.spectrumHeader{
  transition: background-color 4s ease;
}
#spectrumPlugin form input:focus,
#spectrumPlugin form textarea:focus
{
  background-color: rgba(255,255,255,0.5);
  outline: 0;
  -webkit-appearance: none;
}
#spectrumPlugin form span.description{
  display: block;
  word-break: break-all;
  overflow-y: hidden;
  width: 100%;
  height: 172px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 5px;
  -webkit-appearance: none;
}
#spectrumPlugin form span.description:not(.conf_input){
  border: 1px solid #1c18c4;
}
.form-label{
  position: relative;
  top: 32px;
  left: 10px;
  font-size: 14px;
  display: block;
  z-index: 3;
}
.text-input{
  padding: 1em 0 0.7em 0.5em;
  font-size: 30px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color: #1c18c4;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
   background-color: #1c18c4;
}
span:not(.conf_input) .mCSB_draggerContainer{
  margin: 13px 0;
}
.mCSB_inside > .mCSB_container{
  margin-right: 0px;
}
/* =======================================================
* contact confirm
* ======================================================= */
#spectrumPlugin form .conf_input{
  background-color: rgba(255,255,255,0.5);
  outline: 0;
  border: 3px solid rgba(255,255,255,0.8);
  -webkit-appearance: none;
  display: block;
  border-radius: 5px;
}
/* =======================================================
* contact error
* ======================================================= */
.error p{
  color: red;
  padding-bottom: 30px;
}
.error ul{
  border: 3px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.error li{
  padding: 10px 0 10px 10px;
}

/* =======================================================
* about
* ======================================================= */
#spectrumPlugin .about ul li{
  display: inline-block;
}
#spectrumPlugin .about li.add:not(:nth-child(1)):before{
  content: "・";
  padding: 0 8px 0 5px;
}
#spectrumPlugin section{
  padding-bottom: 40px;
}
#spectrumPlugin .about ul li:not(.add){
  border: 1px solid;
  text-align: center;
  padding: 20px;
  background: #fff;
}
#spectrumPlugin .about ul li:not(.add):not(:first-child){
  margin-left: -1em;
}
#spectrumPlugin .about ul li:not(.add) span{
  font-size: 80%;
}
@media (max-width: 856px) {
  #spectrumPlugin .about ul li.add{
    display: block;
    float: left;
    width: 50%;
    padding-bottom: 10px;
  }
  .about section br{
    clear: both;
  }
  #spectrumPlugin .about li.add:before{
    content: "・";
    padding: 0 8px 0 5px;
  }
}
@media (max-width: 940px) {
  #spectrumPlugin .about ul li:not(.add){
    display: block;
    width: 100%;
  }
  #spectrumPlugin .about ul li:not(.add):not(:first-child){
    margin-left: 0;
    border-top: none;
  }
}
