@charset "UTF-8";
/* =======================================================
*
* 2017/05/23
*	kohimoto y Edit
*
* ======================================================= */

/*** nav ***/
#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1002;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  overflow-y: scroll;
}
#nav .nav-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 0;
  padding: 0 !important;
  visibility: hidden;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#nav .nav-toggle:hover {
  background: rgba(0, 0, 0, 0.7);
}
#nav .nav-toggle i {
  top: 19px !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0;
  text-indent: 0;
}
#nav .nav-toggle.show {
  visibility: visible;
  opacity: 1;
}
.menu-show #nav {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#nav ul {
  text-align: center;
  padding: 50px 0 50px 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #nav ul {
    padding: 20px 0 0 0;
  }
}
#nav ul li {
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Playfair Display", Arial, serif;
}
#nav ul li a {
  display: block;
  width: 100%;
  color: black;
  font-size: 30px;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  #nav ul li a {
    font-size: 30px;
    padding: 10px 0;
  }
}
#nav ul li a:hover,
#nav ul li a:active,
#nav ul li a:focus {
  color: rgba(0, 0, 0, 0.7);
  outline: none;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #nav ul li {
    display: block;
  }
}

.nav-toggle.active i::before,
.nav-toggle.active i::after {
  background: #fff;
}
.nav-toggle.dark.active i::before,
.nav-toggle.dark.active i::after {
  background: #fff;
}
.nav-toggle:hover,
.nav-toggle:focus,
.nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 40px;
  height: 4px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}
.menu-show .nav-toggle i {
  background: #fff;
  color: #fff;
}
.nav-toggle i::before,
.nav-toggle i::after {
  content: '';
  width: 40px;
  height: 4px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-show .nav-toggle i::before,
.menu-show .nav-toggle i::after {
  background: #fff;
}
.nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.nav-toggle.dark i::before,
.nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav-toggle i::before {
  top: -8px;
}

.nav-toggle i::after {
  bottom: -8px;
}

.nav-toggle:hover i::before {
  top: -10px;
}

.nav-toggle:hover i::after {
  bottom: -10px;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.nav-toggle {
  z-index: 1003;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
    top: 0px;
  }
}
/*** common ***/
body,button,input,.item-info .skubutton{
  font-family: 'Century Gothic', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
body{
  color:#000;
}
h2{
  font-size: 4em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.4285;
  padding-bottom: 1em;
  text-align: center;
}
h3{
  font-size: 2em;
  font-weight: normal;
}
p{
  font-size: 1em;
}
.button{
  padding-bottom: 4em;
}
button{
  font-size: 2em;
  color:#ff0030;
  border: solid 1px #ff0030;
  padding:0.5em 1em;
  background-color: #fff;
  line-height: 1;
}
.red {
  color: #ff0030;
}
a{
  color:#000;
}
a:hover{
  text-decoration: none;
  color: #ff0030;
  cursor: pointer;
}
a:focus,
*:focus {
  outline:none;
}
a img:hover{
  opacity: 1;
}

h1.logo{
  position: fixed;
  top: 2em;
  left: 50%;
  margin-left: -2.7em;
}
#main h1.logo{
  position: fixed;
  margin: 0;
  top: 2em;
  left: auto;
}
.main-image{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 3em 0 5.7142em;
}
#main{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 7.1428em;
  text-align: center;
}
/***page top***/
.fa-chevron-circle-up::before {
  display: none;
}

@media screen and (min-width: 62.5em) {
	header .inner {
		width: 100%;
  }
  .main-image img{
    width: 100%;
  }
}

/*** header ***/
header{
  position: fixed;
  border-bottom: none;
  padding: 2em;
}
@media screen and (max-width: 660px) {
  header{
    padding: 1em;
  }
}
.head_nav{
  float: left;
  padding: 0.5714em 0;
}
.snav{
  float: right;
  margin: 0;
  padding: 0;
}
.snav i {
    font-size: 3.4285em;
    padding: 0;
}
.incart-btn {
    float: right;
    margin: 0;
    min-width: inherit;
}
.incart-btn a {
    padding: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    background-color:inherit;
}
.incart-btn a:hover {
    background-color:inherit;
}
.incart-btn i::before {
    color: #000;
}

.incart-btn .total-quant {
  background-color: inherit;
  color:#fff;
  font-weight: bold;
  font-size:0.8571em;
  margin-left: 0;
  position:absolute;
  top: 0.8571em;
  right: 0;
  bottom: 0;
  left: 0.8571em;
  vertical-align: baseline;

}

.message{
  position: fixed;
  z-index: 42;
  top: 50%;
  font-size: 1.2857em;
}
.message_left{
  transform: translateX(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) rotate(-90deg);
  left: 2em;
}
.message_right{
  transform: translateX(50%) rotate(90deg);
  -webkit-transform: translateX(50%) rotate(90deg);
  right: 2em;
}
@media screen and (max-width: 660px) {
  .message_right{
    right: 1em;
  }
  .message_left{
    left: 1em;
  }
}


/*** footer ***/
footer {
    background-color:inherit;
    clear: both;
    color: #000;
    padding: 0 0 5.7142em;
}

/*** top ***/
.front-il {
    letter-spacing: 0;
    text-align: left;
}
.front-il article {
    width: 30%;
    margin: 0 4% 0 0;
    padding: 0;
}
.front-il .itemimg {
    margin-bottom: 3em;
    text-align: center;
    height: 30%;
}
.front-il article:nth-child(3n) {
    margin-right:0;
}
.front-il .itemname {
  font-size: 1.2857em;
  font-weight:bold;
  text-align: center;
  padding-bottom: 1em;
}
.front-il .itemprice {
  text-align: center;
  padding-bottom: 4.2857em;
}
/*** detail ***/
#primary{
  text-align: left;
  margin: 2em 0 0;
}

#main.two-column #content {
    width: 100%;
}
#itempage #img-box {
  width: 45%;
  margin-right: 5%;
  padding-bottom: 7.1428em;
}
.detail-box {
  width: 50%;
  padding-bottom: 7.1428em;
}
.detail-box h3{
  font-weight: bold;
  padding-bottom: 0.5em;
}
.detail-box p.red{
  padding-bottom: 2em;
  font-weight: bold;
}
.field_price{
  color: #ff0030;
  padding-bottom: 1em;
  text-align: left;
}
#itempage .itemimg {
  padding-bottom: 4em;
}
#itempage .itemsubimg {
  margin: 0;
}
#img-box .itemsubimg a {
  width: 100%;
}
#img-box .itemsubimg a {
  width: 100%;
}
#itempage .itemsubimg a {
  float: none;
  margin: 0;
  padding-bottom: 4em;
}
.item-info .skubutton{
  background-color:#fff;
  border: 1px solid #ff0030;
  color: #ff0030;
  padding: 0.714286em 2.14286em;
}
.item-info .skubutton:hover{
  background-color:#ff0030;
  color: #fff;
}
.skuform{
  overflow: hidden;
}
.skuform .field{
  float: left;
  vertical-align: middle;
}
.skuform .c-box{
  float: right;
}
.item-info .c-box {
    clear: none;
}
.item-info .zaikostatus,
.item-info .field_price {
    margin: 0;
    padding: 0.5em 1em 0 0;
}
.item-info .field {
    padding: 0 1em 0 0;
}
.item-info .itemsoldout{
  color: #fff;
  background-color: #ff0030;
  display: inline-block;
  padding: 0.714286em 2.14286em;
  text-align: center;
  border-radius: 3px;
  float: right;
}
.front-il .itemsoldout {
    color: #000;
}


/*** cart ***/
.cart_navi{
  padding-bottom: 3em;
}
#wc_cart #cart .upbutton {
    padding: 0 0 2em;
}
button.s_button{
  font-weight: bold;
  font-size: 1em;
  border-radius: 3px;
  padding: 0.714286em 2.14286em;
  margin-left: 1em;
  cursor: pointer;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #ff0030;
  padding: 0.714286em 2.14286em;
  line-height: 1;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #ff0030;
  color: #fff;
}
div.cart_navi li {
  color: #ff0030;
  background-color: #eee;
}
div.cart_navi li::before {
  background-color: #eee;
}
div.cart_navi li::after {
  background-color: #eee;
}
div.cart_navi li.current,
div.cart_navi li.current::before,
div.cart_navi li.current::after {
  background-color: #ff0030;
  color: #fff;
}
#cart_table{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1em;
  display: block;
  max-width: 1140px;
  border-left: 0;
  border-right: 0;
  margin: 0 0 4em;

  overflow: hidden;
}
#cart_table tbody{
  padding-bottom: 4em;
  display: block;
  border-bottom: 1px solid #000;
}
#cart_table tfoot{
  float: right;
  display: block;
}
#cart_table tfoot tr{


}
#cart_table th {
  border: 0;
  background-color: inherit;
  text-align: left;
  padding: 4em 4em 0;
  vertical-align:top;
}
#cart_table tfoot th{
  padding: 4em;
  vertical-align: top;
  line-height: 1;
}
#cart_table td {
  font-weight: bold;
  border: 0;
  text-align: left;
  padding: 4em 4em 0;
}
#cart_table .amount {
  font-size: 1em;
  letter-spacing: 0;
  padding: 4em 4em 0;
}
#cart_table img {
  width: 200px;
}
#cart_table .quantity input {
  border: 1px solid #aaa;
  font-weight: bold;
  padding: 0.571428em;
}
.send button{
  float: left;
}
.send button:last-child{
  float: right;
}

#customer-info h5 {
  border-bottom: 1px solid #000;
}

.customer_form th {
  background-color: #fff;
  border: 1px solid #aaa;
}
.customer_form td {
  padding: 2em 1.07143em;
  border: 1px solid #aaa;
}
