<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="Shift_JIS">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>KOHIMOTO</title>
<meta name='keywords' content=''>
<meta name='description' content=''>

<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.gif">

<meta property='og:title' content=''>
<meta property='og:image' content='/images/og.png'>
<meta property='og:site_name' content=''>
<meta property='og:url' content=''>
<meta property='og:type' content='article'>
<meta property='og:description' content=''>
<meta property='og:email' content='info@kohimoto.com'>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<!-- Use Fonts -->
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,700" rel="stylesheet"> 

<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/flexslider.css">
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="/css/style.css">

<!-- Modernizr JS -->
<script src="/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="wrap">
<header>
  <h1><a href="/"><img src="/images/header/kohimoto_logo.png" alt="kohimoto_logo"></a></h1>
  <div class="g_fix">
    <div class="g_fix_w">
    <div class="cherry">
    <a href="/"><img src="/images/header/cherry.png" alt="cherry"></a>
    </div>
    <div class="menu">
    <ul>
      <li><a href="/work">WORKS</a>&nbsp;/&nbsp;</li>
      <li><a href="/about">ABOUT</a>&nbsp;/&nbsp;</li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    </div>
    <div class="h_text copyright">
      <p>&copy;&nbsp;2017&nbsp;<a href="https://kohimoto.com/">Kohimoto</a>.</p>
    </div>
    <div class="h_text get">
      <p><a href="/contact">Get in touch</a></p>
    </div>
    </div>
  </div>
</header>
<div class="spectrumHeader bg-c" id="spectrumPlugin">
<div class="content">
<h2>CONTACT</h2>
<section>
<h2 class="heading">Please confirm the contents.</h2>
<p class="heading">内容を確認してください。</p>
</section>
<form action="$cgiurl$" method="post">
$hidden$
<p><label class="form-label" for="Name">Name</label><span class="conf_input text-input">$name$</span></p>
<p><label class="form-label" for="E-mail">E-mail</label><span class="conf_input text-input">$mailaddress$</span></p>
<p><label class="form-label" for="Company">Company</label><span class="conf_input text-input">$company$</span></p>
<p><label class="form-label" for="Subject">Subject</label><span class="conf_input text-input">$subject$</span></p>
<p><label class="form-label" for="description">Project description</label><span name="opinion" class="conf_input conf_input text-input description" readonly="readonly">$opinion$</span></p>
<p class="button"><button name="backBtn" onclick="history.back()">BACK</button><button type="submit" name="sendBtn">SUBMIT</button></p>
</form>
</div>
</div>
<footer>
  <div class="content">
    <h1><img src="/images/header/kohimoto_logo.png" alt="kohimoto_logo"></h1>
    <span class="line_s"></span>
    <div class="foot_d">
      <div class="link_m">
        <ul>
          <li><span>MAIL</span>info@kohimoto.com</li>
          <li><span>URL</span>kohimoto.com</li>
        </ul>
        <ul>
          <li><span>ADD</span>Kichijyoji&nbsp;Musashino&nbsp;Tokyo</li>
          <li><span>BLOG</span>kohimoto&nbsp;labo</li>
        </ul>
      </div>
      <div class="link_s">
        <ul>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/jquery.spectrum.js"></script>
<script src="/js/jquery.mCustomScrollbar.js"></script>
<script>
$(document).ready(function(){
  $('.bg-c').spectrum();
  $(window).load(function(){
    $('.description').mCustomScrollbar({
     advanced:{updateOnContentResize: true},
     theme: "dark-thin"
    });
  });
});
</script>
</body>
</html>
