<div class="spectrumHeader bg-c" id="spectrumPlugin">
<div class="content">
<h2>CONTACT</h2>
<section>
<h3>Make sure the below information is correct.</h3>
<p>内容を確認してください。</p>
</section>
<form action="$cgiurl$" method="post">
$hidden$
<p><label class="form-label" for="Name">Name</label><span class="conf_input text-input">$name$</span></p>
<p><label class="form-label" for="E-mail">E-mail</label><span class="conf_input text-input">$mailaddress$</span></p>
<p><label class="form-label" for="Company">Company</label><span class="conf_input text-input">$company$</span></p>
<p><label class="form-label" for="Subject">Subject</label><span class="conf_input text-input">$subject$</span></p>
<p><label class="form-label" for="description">Project description</label><span name="opinion" class="conf_input conf_input text-input description" readonly="readonly">$opinion$</span></p>
<p class="button"><button type="button" name="backBtn" onclick="history.back()">BACK</button><button type="submit" name="sendBtn">SUBMIT</button></p>
</form>
<div class="arrow_d">
<a class="arrow" href="/">&#8594;&nbsp;Jump&nbsp;to&nbsp;HOME</a>
</div>
</div>
</div>
