<?
$head = file_get_contents("../../header.html");
$head_t = preg_replace("/<title>.*<\/title>/","<title>KOHIMOTO | CONTACT</title>",$head);
$head_c = preg_replace("/utf-8/","Shift_JIS",$head_t);
echo $head_c;
?>
<?
if(0){
?>
<body bgcolor="#ffffff">
<h1>▼ 確認画面サンプル</h1>
<form action="$cgiurl$" method="post">
$hidden$
<table id="input_table">
<tr>
	<th>お名前</th>
	<td>$name$</td>
</tr>
<tr>
	<th>メールアドレス</th>
	<td>$mailaddress$</td>
</tr>
<tr>
	<th>会社名</th>
	<td>$company$</td>
</tr>
<tr>
	<th>タイトル</th>
	<td>$subject$</td>
</tr>
<tr>
	<th>感想</th>
	<td>$opinion$</td>
</tr>
</table>
<p><input type="submit" name="sendBtn" value="　送　信　"></p>
</form>
<?
}
?>
<div class="spectrumHeader bg-c" id="spectrumPlugin">
<div class="content">
<h2>CONTACT</h2>
<section>
<h2 class="heading">Please confirm the contents.</h2>
<p class="heading">内容を確認してください。</p>
</section>
<form action="$cgiurl$" method="post">
$hidden$
<p><label class="form-label" for="Name">Name</label><input type="text" name="name" class="conf_input text-input" value="$name$" readonly="readonly"></p>
<p><label class="form-label" for="E-mail">E-mail</label><input type="text" name="mailaddress" class="conf_input text-input" value="$mailaddress$" readonly="readonly"></p>
<p><label class="form-label" for="Company">Company</label><input type="text" name="company" class="conf_input text-input" value="$company$" readonly="readonly"></p>
<p><label class="form-label" for="Subject">Subject</label><input type="text" name="subject" class="conf_input text-input" value="$subject$" readonly="readonly"></p>
<p><label class="form-label" for="description">Project description</label><textarea name="opinion" class="conf_input conf_input text-input" readonly="readonly">$opinions$</textarea></p>
<p class="button"><button name="backBtn" onclick="history.back()">BACK</button><button type="submit" name="sendBtn">SUBMIT</button></p>
</form>
</div>
</div>
<?
include_once("../../footer.html");
?>
